body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0; /* Add this line to reset padding */
}
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

/* top bar stuff */
.top-bar {
    background-color: #ff4b4b; /* Same color as your Log In button */
    height: 70px; /* Adjust the height as needed */
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10; /* Ensures the bar stays on top */
    display: flex;
    align-items: center; /* Center the text vertically */
  }

  h1{
    color: #fff;
    font-size: 30px; /* Set the text size */
    font-weight: bold;
    padding-left: 25px;
}
  /* top bar stuff end*/


/* nav bar stuff */
nav {
    display: flex;
    align-items: flex-start;
    overflow: hidden;
    width: 100%;
    padding-right: 25px;
    height: 70px;
    align-items: center;
  
  }
  
  .menuitems{
    padding-left: 20px;
  }
  
  .menuitems a{
    padding: 14px 16px;
  }
  
  nav a {
    color: white;
    text-align: center;
    text-decoration: none;
  }
  
  nav a:hover {
    color: rgb(87, 87, 87);
  }
  /* nav bar stuff end */

  .form-group button {
    width: 30%;
    padding: 10px;
    background-color: #ff4b4b;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin: 10px 10px 10px 10px; 
  }

  .form-group button:hover {
    background-color: #ff6565;
  }

  .form-group label {
    display: block;
    color: rgb(87, 87, 87);
    margin-bottom: 5px;
  }

  .form-group input {
    width: 30%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  .term-container {
    margin-left: auto;
    margin-right: auto;
    text-align: center; 

    padding: 100px; 
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 15%;
  }

  .form-group input {
    width: 30%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px 10px 10px 10px;
  }

  h2 {
    color: rgb(87, 87, 87);
    text-align: center;
  }



