body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  color: #fff
}

h2 {
  color: #333;
  text-align: center;
}

.top-bar {
  background-color: #ff4b4b; /* Same color as your Log In button */
  height: 70px; /* Adjust the height as needed */
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10; /* Ensures the bar stays on top */
  display: flex;
  justify-content: left; /* Center the text horizontally */
  align-items: center; /* Center the text vertically */
  padding-left: 25px;

}

.top-bar-text {
  text-align: left;
  color: white; /* Set the text color */
  font-size: 30px; /* Set the text size */
  font-weight: bold;
}

.page-container {
  background-color: #fff;
  padding: 20px;
  padding-right: 40px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 350px;

  /*audrey added this*/
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
